# PyCharm
.idea/

# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
.venv/
env/
venv


# Logs
*.log

# Database
*.sqlite3
*.db

# macOS
.DS_Store

# Windows
Thumbs.db

# Environment variables
*.env

/pet_images